<div class="containerExtern">
  <div class="containerInternal">
    <div class="title">Adicionar Vendedor</div>
    <div class="inputsAndButton">
    <form class="form" (ngSubmit)="addSeller(seller)">
        <div>
            <label for="name">Nome: </label>
            <input type="text" placeholder="Digite o nome do vendedor" [(ngModel)]="seller.name" name="name">
        </div>
        <div>
            <label for="region">Região:</label>
            <select id="region" [(ngModel)]="seller.region" name="region">
              <option value="Norte">Norte</option>
              <option value="Nordeste">Nordeste</option>
              <option value="CentroOeste">Centro-Oeste</option>
              <option value="Sudeste">Sudeste</option>
              <option value="Sul">Sul</option>
            </select>
          </div>
        <div class="inputValueConsumed">
            <label for="totalSelled">Total vendido no ano: </label>
            <input type="number" placeholder="1550" [(ngModel)]="seller.totalSelled" name="totalSelled">
        </div>
        <div>
          <app-button type="submit" [nameButton]="nameButton"></app-button>
        </div> 
    </form>
   </div> 
   </div> 
</div>
