.containerInternal {
   background-color: rgb(248, 248, 248); 
   display: flex;
   flex-direction: column;
   width: 59.9vw;
   height: 15vh;
   border: 2px solid black;
}

.form {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 2vw, 2rem);
}

.inputValueConsumed > input {
    width: 4rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

input {
    margin-left: 5px;
    width: clamp(12rem, 2vw ,14rem);
    height: 1.5rem;
    border-radius: 3px;
    border: none;
    box-shadow: -1px 1px 9px 2px rgba(0,0,0,0.75);
}

select {
    margin-left: 5px;
    width: clamp(12rem, 2vw ,14rem);
    height: 1.5rem;
    border-radius: 3px;
    border: none;
    box-shadow: -1px 1px 9px 2px rgba(0,0,0,0.75);
    padding-left: 5px;
    background-color: white; 
  }

.inputsAndButton {
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

  @media (max-width:1595px) {
    .containerInternal {
        height: 17vh;
    }
    .inputsAndButton {
        flex-direction: column;
        gap: 0;
     }
  }

  @media (max-width:968px) {
    .titleForm {
        margin-top: 1rem;
    }
    .form {
        margin-top: 3rem;
        margin-bottom: 3rem;
        flex-direction: column;
    }
    .containerInternal {
        height: auto;
    }
    .btn {
        margin-bottom: 1rem;
    }
  }