.container{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    width: 58vw;
    height: 6vh;
    border-radius: 0.4rem;
    margin-top: 0.3rem;
    margin-bottom: 0.26rem;
    background-color: rgb(248, 248, 248); 
    box-shadow: -1px 1px 9px 2px rgba(0,0,0,0.75);
}

