.container {
    background-color: rgb(241, 99, 47);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 59vw;
    height: 10vh;
    border: 2px 2px 0px 2px solid black;
}

.containerInternal {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

.nameAndGoal {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 2rem;
    margin-left: 1rem;
}

.valueGoal {
    font-size: 1.5rem;
    font-weight: bold;
}

.alterGoal {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.label {
    margin-left: 10rem;
}

.input {
    margin-top: 0.25rem;
    border: none;
    box-shadow: -1px 1px 9px 2px rgba(0,0,0,0.75);
    height: 1.5rem;
    width: 4rem;
}

.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(127,255,212);
    min-width: clamp(100px, 5vw, 200px);
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    height: 2rem;
  }
  
  .btn:hover {
    opacity: .95;
  }
  
  .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }